https://github.com/wazo-platform/xivo-dao/archive/master.zip
https://github.com/wazo-platform/xivo-lib-python/archive/master.zip
jinja2==2.10.1
psycopg2-binary
pyyaml==3.13
sqlalchemy==1.2.18
stevedore==1.29.0
twisted==18.9.0
unidecode==1.0.23
