https://github.com/wazo-pbx/xivo-dao/archive/buster.zip
https://github.com/wazo-pbx/xivo-lib-python/archive/buster.zip
jinja2==2.10
pyyaml==3.13
psycopg2-binary
sqlalchemy==1.2.18
stevedore==1.29.0
twisted==18.9.0
