Source: wazo-confgend
Section: python
Priority: extra
Maintainer: Wazo Maintainers <dev@wazo.community>
Build-Depends: debhelper (>= 9), dh-python, dh-systemd (>= 1.5), python-all (>= 2.7), python-setuptools
Standards-Version: 3.9.6
X-Python-Version: >= 2.7

Package: wazo-confgend
Architecture: all
Pre-Depends: wazo-libconfgend
Depends: ${python:Depends}, ${misc:Depends}, adduser, python-twisted, xivo-lib-python
Provides: xivo-confgend
Replaces: xivo-confgend
Conflicts: xivo-confgend
Suggests: wazo-confgen
Description: Wazo telephony systems configurations generator
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
 Confgen generate asterisk/freeswitch or any other telephony system 
 configuration from a Wazo configuration.
 Confgen is build on a flexible architecture of frontends (targeted systems) 
 and backends (data source).
 .
 confgend is the server part of the generator
 .

Package: wazo-libconfgend
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, xivo-libdao, python-jinja2, python-yaml, python-stevedore
Suggests: wazo-confgen
Provides: xivo-libconfgend
Replaces: xivo-libconfgend
Conflicts: xivo-libconfgend
Description: Wazo telephony systems configurations generator
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
 Confgen generate asterisk/freeswitch or any other telephony system 
 configuration from a Wazo configuration.
 Confgen is build on a flexible architecture of frontends (targeted systems) 
 and backends (data source).
 .
 confgend is the server part of the generator
 .
