[Unit]
Description=wazo-confgend server
After=network.target postgresql.service
Before=monit.service

[Service]
Type=forking
ExecStartPre=/usr/bin/install -d -o wazo-confgend -g wazo-confgend /run/wazo-confgend
ExecStart=/usr/bin/twistd --pidfile=/run/wazo-confgend/wazo-confgend.pid --rundir=/ --uid=wazo-confgend --gid=wazo-confgend --python=/usr/bin/wazo-confgend --no_save --logger wazo_confgend.bin.daemon.twistd_logs
PIDFile=/run/wazo-confgend/wazo-confgend.pid
SyslogIdentifier=wazo-confgend

[Install]
WantedBy=multi-user.target
