[Unit]
Description=xivo-confgend server
After=network.target postgresql.service
Before=monit.service

[Service]
Type=forking
ExecStartPre=/usr/bin/install -d -o xivo-confgend -g xivo-confgend /var/run/xivo-confgend
ExecStart=/usr/bin/twistd --pidfile=/var/run/xivo-confgend/xivo-confgend.pid --rundir=/ --uid=xivo-confgend --gid=xivo-confgend --python=/usr/bin/xivo-confgend --no_save --logger xivo_confgen.bin.daemon.twistd_logs
PIDFile=/var/run/xivo-confgend/xivo-confgend.pid

[Install]
WantedBy=multi-user.target
