{% for meeting in meetings -%}
[wazo-meeting-{{ meeting.uuid }}-guest]
exten = meeting-guest,1,NoOp(New guest participant in the meeting)
same = n,Set(WAZO_MEETING_NAME={{ meeting.name }})
same = n,Goto(wazo-meeting,participant,1)

{% endfor %}
